.scroll-button { 
    background: none;
    border: none; 
    display: block; 
    color: pink; 
}

.scroll-button:hover { 
    cursor: pointer; 
    color: black; 
}

#numWindows { 
    margin: 10px; 
}

.btn { 
    background-color: white;
}


.cluster-btn { 
    background-color: pink;
    border: none; 
}

.cluster-btn:hover { 
    cursor: pointer; 
}

#loading { 
    width: 60px; 
    height: 60px;
}

#popup-window { 
    text-align: center;
    display: flex;
    justify-content: center;
    width: 200px;

}